In [6]:
import numpy as np
from sklearn.cluster import MeanShift, KMeans
from sklearn import preprocessing, cross_validation
import pandas as pd
import matplotlib.pyplot as plt


'''
Pclass Passenger Class (1 = 1st; 2 = 2nd; 3 = 3rd)
survival Survival (0 = No; 1 = Yes)
name Name
sex Sex
age Age
sibsp Number of Siblings/Spouses Aboard
parch Number of Parents/Children Aboard
ticket Ticket Number
fare Passenger Fare (British pound)
cabin Cabin
embarked Port of Embarkation (C = Cherbourg; Q = Queenstown; S = Southampton)
boat Lifeboat
body Body Identification Number
home.dest Home/Destination
'''


# https://pythonprogramming.net/static/downloads/machine-learning-data/titanic.xls
df = pd.read_excel('titanic.xls')

original_df = pd.DataFrame.copy(df)
df.drop(['body','name'], 1, inplace=True)
df.fillna(0,inplace=True)

def handle_non_numerical_data(df):
    
    # handling non-numerical data: must convert.
    columns = df.columns.values

    for column in columns:
        text_digit_vals = {}
        def convert_to_int(val):
            return text_digit_vals[val]

        #print(column,df[column].dtype)
        if df[column].dtype != np.int64 and df[column].dtype != np.float64:
            
            column_contents = df[column].values.tolist()
            #finding just the uniques
            unique_elements = set(column_contents)
            # great, found them. 
            x = 0
            for unique in unique_elements:
                if unique not in text_digit_vals:
                    # creating dict that contains new
                    # id per unique string
                    text_digit_vals[unique] = x
                    x+=1
            # now we map the new "id" vlaue
            # to replace the string. 
            df[column] = list(map(convert_to_int,df[column]))

    return df

df = handle_non_numerical_data(df)
df.drop(['ticket','home.dest'], 1, inplace=True)

X = np.array(df.drop(['survived'], 1).astype(float))
X = preprocessing.scale(X)
y = np.array(df['survived'])

clf = MeanShift()
clf.fit(X)

G:\Anaconda\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

MeanShift(bandwidth=None, bin_seeding=False, cluster_all=True, min_bin_freq=1,
     n_jobs=1, seeds=None)

In [7]:
labels = clf.labels_
cluster_centers = clf.cluster_centers_

original_df['cluster_group']=np.nan

for i in range(len(X)):
    original_df['cluster_group'].iloc[i] = labels[i]
    
n_clusters_ = len(np.unique(labels))

survival_rates = {}
for i in range(n_clusters_):
    temp_df = original_df[ (original_df['cluster_group']==float(i)) ]
    #print(temp_df.head())

    survival_cluster = temp_df[  (temp_df['survived'] == 1) ]

    survival_rate = len(survival_cluster) / len(temp_df)
    #print(i,survival_rate)
    survival_rates[i] = survival_rate
    
print(survival_rates)

G:\Anaconda\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

{0: 0.37290836653386455, 1: 1.0, 2: 0.6578947368421053, 3: 0.1}

In [8]:
# print(original_df[ (original_df['cluster_group']==1) ])
print(original_df[ (original_df['cluster_group']==0) ].describe())
print(original_df[ (original_df['cluster_group']==1) ].describe())
print(original_df[ (original_df['cluster_group']==2) ].describe())
print(original_df[ (original_df['cluster_group']==3) ].describe())

            pclass     survived         age        sibsp        parch  \
count  1255.000000  1255.000000  994.000000  1255.000000  1255.000000
mean      2.334661     0.372908   29.413649     0.486056     0.308367
std       0.817201     0.483771   14.242769     1.047327     0.660857
min       1.000000     0.000000    0.166700     0.000000     0.000000
25%       2.000000     0.000000   21.000000     0.000000     0.000000
50%       3.000000     0.000000   28.000000     0.000000     0.000000
75%       3.000000     1.000000   38.000000     1.000000     0.000000
max       3.000000     1.000000   80.000000     8.000000     4.000000

             fare        body  cluster_group
count  1254.00000  114.000000         1255.0
mean     26.04682  161.991228            0.0
std      30.16197   98.488173            0.0
min       0.00000    1.000000            0.0
25%       7.89580   70.500000            0.0
50%      13.50000  165.500000            0.0
75%      28.35000  257.500000            0.0
max     227.52500  328.000000            0.0
       pclass  survived        age  sibsp     parch        fare  body  \
count     6.0       6.0   6.000000    6.0  6.000000    6.000000   0.0
mean      1.0       1.0  40.833333    0.0  0.333333  429.011133   NaN
std       0.0       0.0   9.239408    0.0  0.516398  129.075794   NaN
min       1.0       1.0  35.000000    0.0  0.000000  262.375000   NaN
25%       1.0       1.0  35.250000    0.0  0.000000  324.863550   NaN
50%       1.0       1.0  36.000000    0.0  0.000000  512.329200   NaN
75%       1.0       1.0  42.750000    0.0  0.750000  512.329200   NaN
max       1.0       1.0  58.000000    0.0  1.000000  512.329200   NaN

       cluster_group
count            6.0
mean             1.0
std              0.0
min              1.0
25%              1.0
50%              1.0
75%              1.0
max              1.0
       pclass   survived        age      sibsp      parch        fare  \
count    38.0  38.000000  38.000000  38.000000  38.000000   38.000000
mean      1.0   0.657895  38.276316   0.921053   1.447368  207.543968
std       0.0   0.480783  17.087492   0.941005   1.057722   55.969230
min       1.0   0.000000   6.000000   0.000000   0.000000   79.200000
25%       1.0   0.000000  24.250000   0.000000   1.000000  156.313550
50%       1.0   1.000000  37.000000   1.000000   1.500000  221.779200
75%       1.0   1.000000  50.000000   1.000000   2.000000  262.375000
max       1.0   1.000000  67.000000   3.000000   4.000000  263.000000

             body  cluster_group
count    5.000000           38.0
mean   104.400000            2.0
std     36.156604            0.0
min     45.000000            2.0
25%     96.000000            2.0
50%    122.000000            2.0
75%    124.000000            2.0
max    135.000000            2.0
       pclass   survived        age      sibsp      parch       fare  \
count    10.0  10.000000   8.000000  10.000000  10.000000  10.000000
mean      3.0   0.100000  39.875000   0.800000   6.000000  42.703750
std       0.0   0.316228   1.552648   0.421637   1.632993  15.590194
min       3.0   0.000000  38.000000   0.000000   5.000000  29.125000
25%       3.0   0.000000  39.000000   1.000000   5.000000  31.303125
50%       3.0   0.000000  39.500000   1.000000   5.000000  35.537500
75%       3.0   0.000000  40.250000   1.000000   6.000000  46.900000
max       3.0   1.000000  43.000000   1.000000   9.000000  69.550000

             body  cluster_group
count    2.000000           10.0
mean   234.500000            3.0
std    130.814755            0.0
min    142.000000            3.0
25%    188.250000            3.0
50%    234.500000            3.0
75%    280.750000            3.0
max    327.000000            3.0

In [9]:
cluster_0 = (original_df[ (original_df['cluster_group']==0) ])
cluster_0_fc = (cluster_0[ (cluster_0['pclass']==1) ])
print(cluster_0_fc.describe())

       pclass    survived         age       sibsp       parch        fare  \
count   279.0  279.000000  240.000000  279.000000  279.000000  279.000000
mean      1.0    0.605735   39.257986    0.379928    0.218638   63.816010
std       0.0    0.489570   14.262463    0.521921    0.507721   41.587892
min       1.0    0.000000    0.916700    0.000000    0.000000    0.000000
25%       1.0    0.000000   28.875000    0.000000    0.000000   30.000000
50%       1.0    1.000000   39.000000    0.000000    0.000000   53.100000
75%       1.0    1.000000   49.000000    1.000000    0.000000   81.858300
max       1.0    1.000000   80.000000    2.000000    2.000000  227.525000

             body  cluster_group
count   30.000000          279.0
mean   172.566667            0.0
std     84.511449            0.0
min     16.000000            0.0
25%    114.000000            0.0
50%    173.500000            0.0
75%    242.250000            0.0
max    307.000000            0.0

In [10]:
print(original_df[ (original_df['cluster_group']==1) ])

     pclass  survived                                               name  \
35        1         1                           Bowen, Miss. Grace Scott
49        1         1                 Cardeza, Mr. Thomas Drake Martinez
50        1         1  Cardeza, Mrs. James Warburton Martinez (Charlo...
66        1         1                        Chaudanson, Miss. Victorine
183       1         1                             Lesurer, Mr. Gustave J
302       1         1                                   Ward, Miss. Anna

        sex   age  sibsp  parch    ticket      fare        cabin embarked  \
35   female  45.0      0      0  PC 17608  262.3750          NaN        C
49     male  36.0      0      1  PC 17755  512.3292  B51 B53 B55        C
50   female  58.0      0      1  PC 17755  512.3292  B51 B53 B55        C
66   female  36.0      0      0  PC 17608  262.3750          B61        C
183    male  35.0      0      0  PC 17755  512.3292         B101        C
302  female  35.0      0      0  PC 17755  512.3292          NaN        C

    boat  body                                       home.dest  cluster_group
35     4   NaN                                 Cooperstown, NY            1.0
49     3   NaN  Austria-Hungary / Germantown, Philadelphia, PA            1.0
50     3   NaN                    Germantown, Philadelphia, PA            1.0
66     4   NaN                                             NaN            1.0
183    3   NaN                                             NaN            1.0
302    3   NaN                                             NaN            1.0